@import url('https://fonts.googleapis.com/css?family=Rokkitt');

a { color: #497FAE; }
a:active, a:hover { color: C89100; }

.button { background-color: #497FAE; }
.button.chevron:after {
    font-family: FontAwesome;
    content: "\f138";
    padding-left: 6px;
}